.dash-main {
    /* height: 100%; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "piechart pointchart"
        "barchart barchart"
        "linechart linechart";
}

.graphs.piechart {
    grid-area: piechart;
}

.graphs.bar {
    grid-area: barchart;
}

.graphs.line {
    grid-area: linechart;
}

.graphs.point {
    grid-area: pointchart;
}

.p-10 h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.graphs{
    margin-top: 35px;
}