/* Toggle button styles */
/* .toggle-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
} */

.toggle-button:hover {
    background-color: #2980b9;
}

.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}