:root {
    --color-primary: #2c3e50;
    --color-primary-dark: #2779bd;
    --color-primary-light: #6cb2eb;
    --color-secondary: #ffed4a;
    --color-secondary-dark: #f9ca24;
    --color-secondary-light: #fff9c2;
  }